<a href="https://colab.research.google.com/github/atanuchaudhury/DataScience/blob/main/UberDriverDataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [27]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
logi=pd.read_csv("My Uber Drives - 2016.csv")

In [28]:
logi.head(5) #printed first 5 rows

      START_DATE*       END_DATE*  ... MILES*         PURPOSE*
0  1/1/2016 21:11  1/1/2016 21:17  ...    5.1   Meal/Entertain
1   1/2/2016 1:25   1/2/2016 1:37  ...    5.0              NaN
2  1/2/2016 20:25  1/2/2016 20:38  ...    4.8  Errand/Supplies
3  1/5/2016 17:31  1/5/2016 17:45  ...    4.7          Meeting
4  1/6/2016 14:42  1/6/2016 15:49  ...   63.7   Customer Visit

[5 rows x 7 columns]

In [29]:
logi.tail(5) #printed last 5 rows

           START_DATE*         END_DATE*  ...   MILES*        PURPOSE*
1151  12/31/2016 13:24  12/31/2016 13:42  ...      3.9  Temporary Site
1152  12/31/2016 15:03  12/31/2016 15:38  ...     16.2         Meeting
1153  12/31/2016 21:32  12/31/2016 21:50  ...      6.4  Temporary Site
1154  12/31/2016 22:08  12/31/2016 23:51  ...     48.2  Temporary Site
1155            Totals               NaN  ...  12204.7             NaN

[5 rows x 7 columns]

In [30]:
#Understand shape and size of the dataset
print(logi.shape)
print(logi.size)

(1156, 7)
8092

In [31]:
#Summery of the numerical colums
logi.describe()

             MILES*
count   1156.000000
mean      21.115398
std      359.299007
min        0.500000
25%        2.900000
50%        6.000000
75%       10.400000
max    12204.700000

In [32]:
#More info about the dataset
logi.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1156 entries, 0 to 1155
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   START_DATE*  1156 non-null   object
 1   END_DATE*    1155 non-null   object
 2   CATEGORY*    1155 non-null   object
 3   START*       1155 non-null   object
 4   STOP*        1155 non-null   object
 5   MILES*       1156 non-null   float64
 6   PURPOSE*     653 non-null    object
dtypes: float64(1), object(6)
memory usage: 63.3+ KB

In [33]:
#Number of missing values in each colum
logi.isnull().sum()

START_DATE*      0
END_DATE*        1
CATEGORY*        1
START*           1
STOP*            1
MILES*           0
PURPOSE*       503
dtype: int64

In [34]:
df=logi.dropna() #Drop null values

In [35]:
df.shape #Shape of dataframe after null values removed

(653, 7)

DESTINATION STARTING AND STOPPING

In [36]:
print(df['START*'].unique())#Name of unique start points
print(len(df['START*'].unique()))#Count of unique start points

['Fort Pierce' 'West Palm Beach' 'Cary' 'Jamaica' 'New York' 'Elmhurst'
 'Midtown' 'East Harlem' 'Flatiron District' 'Midtown East'
 'Hudson Square' 'Lower Manhattan' "Hell's Kitchen" 'Downtown' 'Gulfton'
 'Houston' 'Eagan Park' 'Morrisville' 'Durham' 'Farmington Woods'
 'Lake Wellingborough' 'Fayetteville Street' 'Raleigh' 'Whitebridge'
 'Hazelwood' 'Fairmont' 'Meredith Townes' 'Apex' 'Chapel Hill'
 'Northwoods' 'Edgehill Farms' 'Eastgate' 'East Elmhurst'
 'Long Island City' 'Katunayaka' 'Colombo' 'Nugegoda' 'Unknown Location'
 'Islamabad' 'R?walpindi' 'Noorpur Shahan' 'Preston' 'Heritage Pines'
 'Tanglewood' 'Waverly Place' 'Wayne Ridge' 'Westpark Place' 'East Austin'
 'The Drag' 'South Congress' 'Georgian Acres' 'North Austin'
 'West University' 'Austin' 'Katy' 'Sharpstown' 'Sugar Land' 'Galveston'
 'Port Bolivar' 'Washington Avenue' 'Briar Meadow' 'Latta' 'Jacksonville'
 'Lake Reams' 'Orlando' 'Kissimmee' 'Daytona Beach' 'Ridgeland' 'Florence'
 'Meredith' 'Holly Springs' 'Chessington' 'Burtrose' 'Parkway' 'Mcvan'
 'Capitol One' 'University District' 'Seattle' 'Redmond' 'Bellevue'
 'San Francisco' 'Palo Alto' 'Sunnyvale' 'Newark' 'Menlo Park' 'Old City'
 'Savon Height' 'Kilarney Woods' 'Townes at Everett Crossing'
 'Huntington Woods' 'Weston' 'Seaport' 'Medical Centre' 'Rose Hill' 'Soho'
 'Tribeca' 'Financial District' 'Oakland' 'Emeryville' 'Berkeley' 'Kenner'
 'CBD' 'Lower Garden District' 'Storyville' 'New Orleans' 'Chalmette'
 'Arabi' 'Pontchartrain Shores' 'Metairie' 'Summerwinds' 'Parkwood'
 'Banner Elk' 'Boone' 'Stonewater' 'Lexington Park at Amberly'
 'Winston Salem' 'Asheville' 'Topton' 'Renaissance' 'Santa Clara'
 'Ingleside' 'West Berkeley' 'Mountain View' 'El Cerrito' 'Krendle Woods'
 'Fuquay-Varina' 'Rawalpindi' 'Lahore' 'Kar?chi' 'Katunayake' 'Gampaha']
131

In [37]:
print(df['STOP*'].unique())#Name of unique stop points
print(len(df['STOP*'].unique()))#Count of unique stop points

['Fort Pierce' 'West Palm Beach' 'Palm Beach' 'Cary' 'Morrisville'
 'New York' 'Queens' 'East Harlem' 'NoMad' 'Midtown' 'Midtown East'
 'Hudson Square' 'Lower Manhattan' "Hell's Kitchen" 'Queens County'
 'Gulfton' 'Downtown' 'Houston' 'Jamestown Court' 'Durham' 'Whitebridge'
 'Raleigh' 'Umstead' 'Hazelwood' 'Westpark Place' 'Meredith Townes'
 'Leesville Hollow' 'Apex' 'Chapel Hill' 'Williamsburg Manor'
 'Macgregor Downs' 'Edgehill Farms' 'Walnut Terrace' 'Midtown West'
 'Long Island City' 'Jamaica' 'Unknown Location' 'Colombo' 'Nugegoda'
 'Katunayaka' 'Islamabad' 'R?walpindi' 'Noorpur Shahan' 'Heritage Pines'
 'Tanglewood' 'Waverly Place' 'Wayne Ridge' 'Northwoods'
 'Depot Historic District' 'West University' 'Congress Ave District'
 'Convention Center District' 'North Austin' 'The Drag' 'Coxville'
 'South Congress' 'Katy' 'Alief' 'Sharpstown' 'Sugar Land' 'Galveston'
 'Port Bolivar' 'Washington Avenue' 'Greater Greenspoint' 'Latta'
 'Jacksonville' 'Kissimmee' 'Lake Reams' 'Orlando' 'Daytona Beach'
 'Ridgeland' 'Florence' 'Cedar Hill' 'Holly Springs' 'Harden Place'
 'Chessington' 'Burtrose' 'Parkway' 'Capitol One' 'University District'
 'Redmond' 'Bellevue' 'Seattle' 'Mcvan' 'Palo Alto' 'Sunnyvale' 'Newark'
 'Menlo Park' 'San Francisco' 'Preston' 'Parkway Museums' 'Hog Island'
 'Savon Height' 'Kildaire Farms' 'Weston' 'Gramercy-Flatiron' 'Tudor City'
 'Soho' 'Tribeca' 'Financial District' 'Kips Bay' 'Emeryville' 'Berkeley'
 'Oakland' 'Bay Farm Island' 'New Orleans' 'Lower Garden District'
 'Lakeview' 'Faubourg Marigny' 'Chalmette' 'Arabi' 'Metairie'
 'Pontchartrain Shores' 'Kenner' 'Summerwinds' 'Parkwood' 'Banner Elk'
 'Boone' 'Stonewater' 'Lexington Park at Amberly' 'Winston Salem'
 'Asheville' 'Topton' 'Hayesville' 'Agnew' 'Potrero Flats' 'South'
 'Southside' 'Mountain View' 'El Cerrito' 'Wake Co.' 'Fuquay-Varina'
 'Rawalpindi' 'Lahore' 'Kar?chi' 'Gampaha' 'Ilukwatta']
137

In [38]:
df['START*'].value_counts().head(5)

Cary                161
Unknown Location     55
Morrisville          54
Whitebridge          36
Durham               30
Name: START*, dtype: int64

In [39]:
df['STOP*'].value_counts().head(5)

Cary                155
Morrisville          60
Unknown Location     56
Whitebridge          37
Durham               30
Name: STOP*, dtype: int64

In [40]:
# farthest start stop pair
# Drop unknown location
df2=df[df['START*'] != 'Unknown Location']
df2=df2[df2['STOP*'] != 'Unknown Location']
df2.groupby(['START*' , 'STOP*'])['MILES*'].sum().sort_values(ascending=False).head(10)

START*        STOP*
Cary          Durham          312.3
Latta         Jacksonville    310.3
Durham        Cary            298.4
Cary          Morrisville     293.7
Raleigh       Cary            269.5
Morrisville   Cary            250.6
Cary          Cary            233.9
              Raleigh         230.4
Jacksonville  Kissimmee       201.0
Boone         Cary            180.2
Name: MILES*, dtype: float64

In [41]:
df2.groupby(['START*' , 'STOP*'])['MILES*'].size().sort_values(ascending=False).head(10) #Most popular start stop pair

START*       STOP*
Cary         Morrisville    52
Morrisville  Cary           51
Cary         Cary           44
             Durham         30
Durham       Cary           29
Kar?chi      Kar?chi        20
Cary         Raleigh        17
Lahore       Lahore         16
Raleigh      Cary           15
Cary         Apex           11
Name: MILES*, dtype: int64

In [42]:
df.loc[:, 'START_DATE*'] = df['START_DATE*'].apply(lambda x: pd.datetime.strptime(x, '%m/%d/%Y %H:%M'))
df.loc[:, 'END_DATE*'] = df['END_DATE*'].apply(lambda x: pd.datetime.strptime(x, '%m/%d/%Y %H:%M'))

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime instead.
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:1743: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(ilocs[0], value)
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime instead.

In [43]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 653 entries, 0 to 1154
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   START_DATE*  653 non-null    datetime64[ns]
 1   END_DATE*    653 non-null    datetime64[ns]
 2   CATEGORY*    653 non-null    object
 3   START*       653 non-null    object
 4   STOP*        653 non-null    object
 5   MILES*       653 non-null    float64
 6   PURPOSE*     653 non-null    object
dtypes: datetime64[ns](2), float64(1), object(4)
memory usage: 40.8+ KB

In [44]:
#Calculate duration of rides
df['DIFF']=df['END_DATE*']-df['START_DATE*']

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [45]:
#CONVERT DURATION TO NUMBERS
df.loc[:,'DIFF']=df['DIFF'].apply(lambda x: pd.Timedelta.to_pytimedelta(x).days/(24*60) + pd.Timedelta.to_pytimedelta(x).seconds/60)

/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:1743: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(ilocs[0], value)

In [46]:
df['DIFF'].head()

0     6.0
2    13.0
3    14.0
4    67.0
5     4.0
Name: DIFF, dtype: float64

In [47]:
df['DIFF'].describe()

count    653.000000
mean      23.398162
std       25.769640
min        2.000000
25%       11.000000
50%       18.000000
75%       28.000000
max      330.000000
Name: DIFF, dtype: float64

In [48]:
#Capture hour day, month
df['month']=pd .to_datetime(df['START_DATE*']).dt.month
df['day']=pd .to_datetime(df['START_DATE*']).dt.day
df['hour']=pd .to_datetime(df['START_DATE*']).dt.hour
df['year']=pd .to_datetime(df['START_DATE*']).dt.year

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [49]:
#Capture day and week and rename to week day
df['day_of_week'] = pd.to_datetime(df['START_DATE*']).dt.day_of_week
days={0:'Mon',1:'Tue',2:'Wed',3:'Thrus',4:'Fri',5:'Sat',6:'Sun'}
df['day_of_week'] = df['day_of_week'].apply(lambda x:days[x])

AttributeError: ignored

In [50]:
#Rename the nos. in month colum to calender months
import calender
df['month']=df['month'].apply(lambda x:calender.month_abbr[x])
df.head()

ModuleNotFoundError: ignored

In [51]:
#getting avg distance covered per month
df.groupby('month').mean()['MILES*'].sort_values(ascending=False)

month
10    24.840000
4     21.898000
3     20.505634
7     10.615217
11    10.590000
2      8.868293
1      8.486441
5      7.793478
6      7.410959
8      7.341667
12     6.898507
Name: MILES*, dtype: float64

In [53]:
#Calculate trip speed for each trip
df['Duration_hours']=df['DIFF']/60
df['Speed_KM']=df['MILES*']/df['Duration_hours']

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

CATAGORY AND PURPOSE

In [54]:
df['CATEGORY*'].value_counts()

Business    647
Personal      6
Name: CATEGORY*, dtype: int64

In [55]:
#purpose
df['PURPOSE*'].value_counts()

Meeting            187
Meal/Entertain     160
Errand/Supplies    128
Customer Visit     101
Temporary Site      50
Between Offices     18
Moving               4
Airport/Travel       3
Commute              1
Charity ($)          1
Name: PURPOSE*, dtype: int64

In [56]:
#Average distance travelled for each activity
df.groupby('PURPOSE*').mean()['MILES*'].sort_values(ascending=False)

PURPOSE*
Commute            180.200000
Customer Visit      20.688119
Meeting             15.247594
Charity ($)         15.100000
Between Offices     10.944444
Temporary Site      10.474000
Meal/Entertain       5.698125
Airport/Travel       5.500000
Moving               4.550000
Errand/Supplies      3.968750
Name: MILES*, dtype: float64

In [57]:
#Miles earned per Purpose
df.groupby('PURPOSE*').sum()['MILES*'].sort_values(ascending=False)

PURPOSE*
Meeting            2851.3
Customer Visit     2089.5
Meal/Entertain      911.7
Temporary Site      523.7
Errand/Supplies     508.0
Between Offices     197.0
Commute             180.2
Moving               18.2
Airport/Travel       16.5
Charity ($)          15.1
Name: MILES*, dtype: float64

In [59]:
#Miles earned per Catagory
df.groupby('CATEGORY*').sum()['MILES*'].sort_values(ascending=False)

CATEGORY*
Business    7097.7
Personal     213.5
Name: MILES*, dtype: float64